main {
    display: flex;
    position: relative;
    justify-content: a;
    flex-wrap: wrap;
    gap: 24px;
}
main img {
    border-top: 12px;
    width: 244px;
    height: 244px;
    object-fit: cover;
  
}